[submodule "docs/android-sdk"]
	path = docs/android-sdk
	url = git@code.aliyun.com:palmap/android-sdk.git
[submodule "docs/ios-sdk"]
	path = docs/ios-sdk
	url = git@code.aliyun.com:palmap/ios-sdk.git
